<h1>ユーザー一覧</h1>
<%= link_to "新規登録", new_user_path %>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.uid %>（<%= user.age %>歳）
      <%= link_to "削除", user_path(user), data: { turbo_method: :delete} %>
    </li>
  <% end %>
</ul>

